body {
  background: #252830;
  color: #fff;
}

.header {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.header:before {
  background-color: #535867;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.header > h2 {
  background-color: #252830;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  padding: 0px 10px;
  position: relative;
  vertical-align: middle;
  z-index: 2;
}

.race .jumbotron {
  background-color: #1BC98E;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding:34px 10px 10px;
  position:relative;
}

.jumbotron > h4 {
  background: #0dab75;
  border-bottom: 1px solid #fff;
  font-size: 12px;
  left: 0px;
  line-height:28px;
  margin: 0px;
  padding-left: 10px;
  position: absolute;
  top:0px;
  width: 100%;
}

.jumbotron > h5 {
  margin: 0px;
}

.jump-time {
  display: inline-block;
  line-height: 18px;
}

.site-header {
  background-color: #0dab75;
  height: 60px;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.site-header > h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
  margin: 0px;
}
.tick {
  background: #0b885d;
  display: inline-block;
  line-height: 18px;
  margin-left: 2px;
  min-width: 22px;
  text-align: center;
}